{% load static %}
<div class="user_form-back" id="userFollower_form-back" onclick="FollowedHide()"></div>
<div class="user_form" id="userFollower_form">
    <div class="user_in_form-follow">Followers users:</div>
    {% for user in followers.all %}
    <div class="user_in_form">
        <img src="{{ user.avatar.avatar.url }}" alt="avatar" class="user_in_form-img">
        <a href="{{ user.getUsernameProfile }}" class="user_in_form-nickname">{{ user.username }}
            {% if user.is_superuser %}
                <img src="{% static 'img/premium.png' %}" alt="premium" class="premium-img" />
            {% endif %}
        </a>
    </div>
    {% endfor %}
</div>