body {
    padding-left: 10% !important;
    padding-right: 10% !important;
    background: #1E1E1E !important;
    color: #f5f5f7 !important;
}

.chat_main {
    display: grid;
    /* grid-gap: 18px; */
    grid-template-columns: 21% 22% 57%;
}

.main_page {
    display: grid;
    grid-template-columns: 21% 61% 18%;
}

.left_side_menu {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.text_left {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;

    color: #FFFFFF;
}

.left_menu_block {
    padding: 10px 20px 10px 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: fit-content;
}

.left_side_menu-logo {
    margin-bottom: 78px;
    margin-left: 20px;
    width: fit-content;
}

.left_hover:hover {
    border-radius: 30px;
    background-color: #323232;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    cursor: pointer;
}

.left_side-img {
    max-width: 55px !important;
    min-height: 50px !important;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.search_pic,
.home_pic {
    width: 44px !important;
    height: 40px !important;
}

.left_side_menu-logo img {
    width: 40px !important;
    height: 37.5px !important;
    margin: 0;
}

.notification_pic {
    width: 37px !important;
    height: 40px !important;
}

.message_pic {
    width: 37px !important;
    height: 25px !important;
}

.profile_pic {
    width: 37px !important;
    height: 40px !important;
}

.nick_name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px #8E8E8E solid;
}

.nick_name-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: #F5F5F7;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-word;
    text-decoration: none;
}

.nick_vector {
    margin-left: 12px;
}

.active_text {
    font-style: normal;
    font-weight: 600;
}

.chat__users {
    border-left: 1px #8E8E8E solid;
    border-right: 1px #8E8E8E solid;
    /* height: 123%; */
    /* height: 100vh; */
}

.avatar {
    width: 56px;
    height: 56px;
    display: flex;
    border-radius: 28px;
    margin-left: 21px;
}

.avatar_comments {
    width: 56px;
    height: 56px;
    display: flex;
    border-radius: 28px;
}

.status {
    position: absolute;
    margin-left: 55px;
    margin-top: 19px;
}

.user {
    height: 72px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.about_user {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
}

.chat_about_user {
    margin-bottom: 15px;
}

.nickname {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F5F5F7 !important;
    text-decoration: none;
}

.last_time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #8E8E8E;
    margin-top: 5px;
}


.title_chat {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    border-bottom: 1px #8E8E8E solid;
}

.title_chat_avatar {
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 28px;
    margin-left: 21px;
}

.title_chat_about_user {
    display: flex;
    flex-direction: column;
    margin-left: 19px;
}

.title_chat_nickname {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #F5F5F7;
}

.title_chat_last_time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #8E8E8E;
    margin-top: 2px;
}

.title_chat_status {
    width: 9px;
    height: 9px;
    position: absolute;
    margin-left: 39px;
    margin-top: -9px;
}

.chat__chat {
    border-right: 1px #8E8E8E solid;
}

.chat_message {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.time_message {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #8E8E8E;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.chat_message-text {
    margin-left: 12px;
    border: 0.5px solid #C5C5C7;
    border-radius: 15px;
    padding: 13px 18px;

    max-width: 40%;
    word-wrap: break-word;

    margin-bottom: 11px;
    margin-right: 25px;

}

.chat {
    margin-top: 8px;
    overflow: hidden auto;
    height: calc(100vh - 168px);
}

.chat::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #2c2c2c;
    border-radius: 9em;

}

.data_up {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}

.data_up-text {
    padding: 5px 15px;
    background: #282828;
    border-radius: 30px;
}

.chat::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 9em;
}

.right {
    width: 100%;
    margin-right: 0px;
    margin-left: auto;
    justify-content: end;
}

.another_users {
    overflow: hidden auto;
    height: calc(100vh - 68px);
}

.another_users::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #2c2c2c;
    border-radius: 9em;
}

.another_users::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 9em;
}

.input_message {
    display: flex;
    flex-direction: row;
}

.message_inp {
    height: 44px !important;
    border-radius: 22px !important;
    background: #2D2D2D !important;
    width: 82% !important;
    margin: 20px 0px 20px 0px !important;
    outline: none !important;
    border: none !important;
    color: #F5F5F7 !important;
    padding: 10px 15px !important;

    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.message_inp:focus,
.message_inp:active,
.message_inp:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.current {
    background-color: #282828 !important;

}

.user:hover {
    background-color: rgba(40, 40, 40, 0.5);
}

.button_send {
    border: none;
    background: none;
    background: #2D2D2D;
    padding: 0;
    border-radius: 0px 22px 22px 0px;
    height: 44px;
    margin: 20px 0px 20px 0px;
    padding: 10px 15px;
}

.button_voise {
    border: none;
    background: none;
    background: #2D2D2D;
    padding: 0;
    border-radius: 22px 0px 0px 22px;
    height: 44px;
    margin: 20px 0px 0px 20px;
    padding: 10px 15px;
}

.input_message form {
    width: 100%;
    display: flex;
}

.audio {
    width: 40% !important;
}

/* .row {
    width: 100%;
    margin-right: 0px;
    margin-left: auto;
    justify-content: end;
} */

audio::-webkit-media-controls-panel {
    background-color: #171717;
}

audio::-webkit-media-controls-play-button {
    background-color: #171717;
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(177, 212, 224, .7);
}

audio::-webkit-media-controls-current-time-display {
    color: #F5F5F7;
}

audio::-webkit-media-controls-time-remaining-display {
    color: #F5F5F7;
}

.my_audio {
    max-width: 40%;
    margin: 0px 25px 11px 12px;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.for_audio {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.title_chat_about_user:hover {
    opacity: 70%;
    transition: opacity 0.3s ease;
}