@media (max-width: 768px) { 
    .chat__users {
        display: none;
    }

    .title_chat_avatar {
        margin-left: 0px;
    }

    .chat__chat {
        border-left: 1px #8E8E8E solid;
    }

    .chat::-webkit-scrollbar {
        width: 4px;
    }

    .title_chat_avatar {
        margin-left: 5px;
    }

    .chat_message-text {
        margin-top: 7px;
    }

    .chat {
        height: calc(100vh - 195px);
    }

    .button_voise {
        margin-left: 5px;
    }

    .button_send {
        margin-right: 5px;
    }
}