{% extends "basechat.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/chat_mobile.css' %}" />
{% endblock %}

{% block title %}
Chat
{% endblock %}

{% block chat %}
<div class="chat__chat">
  <div class="title_chat" id="title_chat-id">
    <img src="/static/img/back.svg" alt="back" class="back_button_profile" onclick="javascript:history.back();">
    <div class="avatar_status">
      <a href="{{ user.getUsernameProfile }}">
        <img class="title_chat_avatar" src="{{ user.avatar.avatar.url }}" alt="avatar" />
        {% if user.is_online %}
        <img class="title_chat_status" src="{% static 'img/Ellipse 3.png' %}" />
        {% endif %}
      </a>
    </div>
    <a class="title_chat_about_user" style="text-decoration: none;" href="{{ user.getUsernameProfile }}">
      <span class="title_chat_nickname">{{user.username}}
        {% if user.is_superuser %}
        <img src="{% static 'img/premium.png' %}" alt="premium" class="premium-img" />
        {% endif %}
      </span>
      {% if not user.is_online %}
      <span class="title_chat_last_time">У мережі {{ user.last_time_online|date:"H:i D" }}</span>
      {% endif %}
    </a>
  </div>
  <div class="chat" id="chat">
    {% for message in messages %}
    {% if message.sender == request.user.username %}

    {% if message.new_day %}
    <div class="data_up"><span class="data_up-text">{{ message.timestamp|date:"F j" }}</span></div>
    {% endif %}

    {% if message.base64 == 1 %}
    <div class="right for_audio">
      <audio controls="controls" autobuffer="autobuffer" class="my_audio">
        <source src="data:audio/wav;base64, {{ message.message }}" />
      </audio>
      <span class="time_message">{{ message.timestamp|date:"H:i" }}</span>
    </div>

    {% else%}
    <div class="chat_message right">
      <span class="chat_message-text">{{message.message}}</span>
      <span class="time_message">{{ message.timestamp|date:"H:i" }}</span>
    </div>
    {%endif%}

    {% else %}

    {% if message.new_day %}
    <div class="data_up"><span class="data_up-text">{{ message.timestamp|date:"F j" }}</span></div>
    {% endif %}

    {% if message.base64 == 1 %}
    <div class="left ">
      <audio controls="controls" autobuffer="autobuffer" class="my_audio">
        <source src="data:audio/wav;base64, {{ message.message }}" />
      </audio>
      <span class="time_message">{{ message.timestamp|date:"H:i" }}</span>
    </div>

    {% else%}
    <div class="chat_message">
      <img class="title_chat_avatar" src="{{ user.avatar.avatar.url }}" alt="avatar" />
      <span class="chat_message-text">{{message.message}}</span>
      <span class="time_message">{{ message.timestamp|date:"H:i" }}</span>
    </div>
    {%endif%}
    {% endif %}
    {% endfor %}

    <div data-role="recordings"></div>
  </div>
  <div class="input_message">
    <div data-role="controls">
      <button class="button_voise">
        <img src="{% static 'img/Vector3.svg' %}" onsubmit="myFunction()" alt="submit" />
      </button>
    </div>
    <input id="message_input" type="text" class="message_inp form-control" />
    <button id="chat-message-submit" class="button_send">
      <img src="{% static 'img/Vector1.svg' %}" alt="submit" />
    </button>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{user.id|json_script:"json-username"}}
{{request.user.username|json_script:"json-message-username"}}
{{user.avatar.avatar.url|json_script:"json-avatar"}}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://markjivko.com/dist/recorder.js"></script>
<script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
<script type="text/javascript" src="{% static 'js/reload.js' %}"></script>
{% endblock %}